
#define fnt "Source Code Pro"
#define fntSize 10

! snazzy theme
! special
#define clrBackground [97]#282a36
#define clrForeground #eff0eb
#define clrCursor #9aedfe
! black
#define clr0 #33303b
#define clr8 #4f4b58
! red
#define clr1 #ff5c57
#define clr9 #ff5c57
! green
#define clr2 #5af78e
#define clr10 #5af78e
! yellow
#define clr3 #f3f99d
#define clr11 #f3f99d
! blue
#define clr4 #57c7ff
#define clr12 #57c7ff
! magenta
#define clr5 #ff6ac1
#define clr13 #ff6ac1
! cyan
#define clr6 #9aedfe
#define clr14 #9aedfe
! white
#define clr7 #eff0eb
#define clr15 #eff0eb

URxvt.font: xft:fnt:size=fntSize

URxvt.scrollBar: false

URxvt.transparent: false
!URxvt.depth: 32

URxvt.background: clrBackground
URxvt.foreground: clrForeground
URxvt.cursorColor: clrCursor
URxvt.color0: clr0
URxvt.color1: clr1
URxvt.color2: clr2
URxvt.color3: clr3
URxvt.color4: clr4
URxvt.color5: clr5
URxvt.color6: clr6
URxvt.color7: clr7
URxvt.color8: clr8
URxvt.color9: clr9
URxvt.color10: clr10
URxvt.color11: clr11
URxvt.color12: clr12
URxvt.color13: clr13
URxvt.color14: clr14
URxvt.color15: clr15
